* {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;

    -webkit-tap-highlight-color: transparent;
}


body {
    /* Main colors */
    --color-1: #141414;
    --color-2: #1c1c1c;
    --color-3: #212121;
    --inverted: #e8e8e8;
    --inverted-soft: #4d4d4d;
    --accent: #f23269;
    --accent-soft: #f25481;

    /* --color-1: #18191a;
    --color-2: #242526;
    --color-3: #3a3b3c;
    --inverted: #e4e6eb;
    --inverted-2: #b0b3b8; */


    background-color: var(--color-1);
    color: var(--inverted);
    accent-color: var(--accent);

    /* Params */
    --radius-small: 0.5em;
    --radius-medium: 1em;
    --radius-huge: 2em;

    /* General */
    position: absolute;
    inset: 0;
    padding: 0.5em;
    font-family: sans-serif;
    font-weight: 500;
}

/* Dark theme */
@media (prefers-color-scheme: light) {
    ::selection {
        background-color: #00000088;
    }
    body {
        --color-1: #f2f2f2;
        --color-2: #f2f2f2;
        --color-3: #c1c1c1;
        --inverted: #2a2a2a;
        --inverted-soft: #4c4c4c;
        --accent: #f23269;
        --accent-soft: #f25481;
    }
}

/* key colors */
::selection {
    background-color: #ffffffcc;
}

/**/
input[type='range']::-webkit-slider-thumb {
    filter: brightness(1.5);
}
input[type='range']::-webkit-slider-runnable-track {
    filter: brightness(0.75);
}

/********************/
/****** Layout ******/
/********************/

/* flex */
.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex.column {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    text-align: center;
}
.flex.row {
    flex-direction: row;
}

.flex.border {    
    border: solid 1px var(--inverted-soft);
    border-radius: var(--radius-medium);
    margin-block: 0.25em;
    overflow: hidden;
}

/* Center */
.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolute-center.top {
    top: 0;
    transform: translateX(-50%);
}
.absolute-center.bottom {
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
}

/**/


/********************/
/**** Properties ****/
/********************/

.button {
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
    transform: scale(1.05);
}
.button:active {    
    filter: grayscale(1);
    transform: scale(0.9);
}

.rounded-small {
    border-radius: var(--radius-small);
    overflow: hidden;
}
.rounded-medium {
    border-radius: var(--radius-medium);
    overflow: hidden;
}
.rounded-huge {
    border-radius: var(--radius-huge);
    overflow: hidden;
}

/********************/
/***** Elements *****/
/********************/

/* Card */

.card {
    padding: 1em;
    border-radius: var(--radius-small);
    margin: 0.5em;
    background-color: var(--color-2);
}

/* Button */

/* Img */
.img {
    min-width: 1em;
    min-height: 1em;
    background-size: cover;
}
.img.square {
    aspect-ratio: 1/1!important;
    border-radius: var(--radius-medium);
}